{% extends "layout.html" %}
{% block content %}
    <!-- 顯示文章內容的迴圈 -->
    {% for post in posts.items %}
        <article class="media content-section">
          <!-- 顯示作者的頭像圖片 -->
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <!-- 顯示作者名稱並連結至作者的文章列表頁面 -->
              <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
              <!-- 顯示文章發布日期 -->
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <!-- 顯示文章標題並連結至文章詳細內容頁面 -->
            <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <!-- 顯示文章內容摘要 -->
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
    <!-- 頁面分頁導航 -->
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <!-- 當前頁面按鈕顯示高亮樣式 -->
          <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <!-- 其他頁面按鈕顯示普通樣式 -->
          <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}
